@page
@model MotoLand.Pages.Dealers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DealerMoto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DealerMoto.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DealerMoto.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DealerMoto.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DealerMoto.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DealerMoto.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
